{% extends "layout.html" %}

{% block title %}
Testapp Page
{% endblock %}


{% comment %} enjecting block in block {% endcomment %}
{% block content %}
<h1>Testapp | test app Page</h1>

<div class="grid grid-cols-3 gap-4 m-4">
{% for i in Seats %}                                 
    <div class="bg-gray-500 p-5 rounded">
        <img class="rounded" src="{{i.image.url}}", alt="">
        <h3 class="text-2xl font-bold">{{i.name}}</h3>
        <a href='{% url 'seat_detail' i.id %}'>
            <button
            type="button"
            class="bg-pink-400"
            >
                {{i.type}} - {{i.id}}
            </button>
        </a>
    </div>

{% endfor %}
</div>

{% endblock %} 

